#if((${table.getTableConfig().bConfidentiality()} == true)||(${table.getTableConfig().bIntegrity()} == true))
#parse ("operation/opbody-select-new.vm")
#else
#parse ("operation/opbody-select-old.vm")
#end	