#if((${table.getTableConfig().bConfidentiality()} == true)||(${table.getTableConfig().bIntegrity()} == true))
#parse ("operation/opbody-insert-new.vm")
#else
#parse ("operation/opbody-insert-old.vm")
#end	