<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bbd.dafei.common.dal.mapper.LoginMapper" >

    <select id="findByName" resultType="com.bbd.dafei.common.dal.po.UserPO" parameterType="java.lang.String" >
        select  user_status,
                id,
                username,
                password,
                tel,
                email,
                salt,
                province,
                valid_date,
                gmt_update as gmtUpdate,
                update_by as updateBy,
                gmt_create as gmtCreate,
                create_by as CreateBy,
                user_status as userStatus
        from ra_user
        where
        username = #{username};
    </select>

</mapper>