<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bbd.dafei.common.dal.mapper.MyReportMapper" >

    <select id="count" resultType="int" >
        SELECT count(*)
        FROM (
        select t2.id,IF(t1.user_id is null,t2.user_id,t1.user_id) as user_id,IF(t1.company is null,t2.company,t1.company) as company,t1.company_id, t1.download_time,t2.gmt_create,t2.report_status from (select * from ra_simple_detail where (user_id,company,download_time) in (select user_id,company,max(download_time) from ra_simple_detail group by user_id,company)) t1
        LEFT JOIN ra_report_detail t2 on t1.user_id = t2.user_id and t1.company_id = t2.company_id
        UNION
        select t2.id,IF(t1.user_id is null,t2.user_id,t1.user_id) as user_id,IF(t1.company is null,t2.company,t1.company) as company, t2.company_id,t1.download_time,t2.gmt_create,t2.report_status from (select * from ra_simple_detail where (user_id,company,download_time) in (select user_id,company,max(download_time) from ra_simple_detail group by user_id,company)) t1
        RIGHT JOIN ra_report_detail t2 on t1.user_id = t2.user_id and t1.company_id = t2.company_id ) t1 ,ra_company t2
        where
        t1.company_id=t2.id and t1.user_id =#{userId}
    </select>


    <select id="query" resultType="com.bbd.dafei.common.modal.vo.MyReportListVO"  >
        SELECT t1.id as reportId,t1.user_id,t2.id as companyId,t1.company,t2.province,t2.city,t2.area,t2.risk_index,t2.risk_level,t2.rise,t2.industry,date_format(t1.download_time,'%Y-%m-%d') AS downloadTime,date_format(t1.gmt_create,'%Y-%m-%d') as applyTime,t1.report_status
        FROM (
        select t2.id,IF(t1.user_id is null,t2.user_id,t1.user_id) as user_id,IF(t1.company is null,t2.company,t1.company) as company,t1.company_id, t1.download_time,t2.gmt_create,t2.report_status from (select * from ra_simple_detail where (user_id,company,download_time) in (select user_id,company,max(download_time) from ra_simple_detail group by user_id,company)) t1
        LEFT JOIN ra_report_detail t2 on t1.user_id = t2.user_id and t1.company_id = t2.company_id
        UNION
        select t2.id,IF(t1.user_id is null,t2.user_id,t1.user_id) as user_id,IF(t1.company is null,t2.company,t1.company) as company, t2.company_id,t1.download_time,t2.gmt_create,t2.report_status from (select * from ra_simple_detail where (user_id,company,download_time) in (select user_id,company,max(download_time) from ra_simple_detail group by user_id,company)) t1
        RIGHT JOIN ra_report_detail t2 on t1.user_id = t2.user_id and t1.company_id = t2.company_id ) t1 ,ra_company t2
        where
        t1.company_id=t2.id and t1.user_id =#{userId}
        Order by IFNULL(t1.gmt_create,t1.download_time) desc
        <include refid="limitSql" ></include>
    </select>

    <sql id="limitSql" >
        <if test="start != null">
            LIMIT #{start},#{size}
        </if>
    </sql>

    <select id="queryCount" resultType="int"  >
        select count(*) as totalNumber
        from ra_report_detail
        where user_id=#{userId} and report_status=#{reportStatus};
    </select>

    <select id="getApplyTime" resultType="String">
        select date_format(gmt_create,'%Y%m%d') AS applyTime
        from ra_report_detail
        where user_id = #{userId} and company_id = #{companyId} and report_status = #{reportStatus};
    </select>
    <select id="getMaxApplyTime" resultType="String">
        select date_format(max(gmt_create),'%Y%m%d') AS applyTime
        from ra_report_detail
        where user_id = #{userId} and company_id = #{companyId} and report_status != #{reportStatus};
    </select>

</mapper>