<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.bbd.dafei.common.dal.mapper.RaFeedbackMapper" >

    <insert id="insert" >

        INSERT INTO ra_feedback (username   ,feedback   )
        VALUES                  (#{username},#{feedback})

    </insert>


</mapper>